---
# Only the main Sass file needs front matter (the dashes are enough)
---
@use "../_sass/variables" as *;
@use "../_sass/mixins" as *;
@use "../_sass/base" as *;
@use "../_sass/layout" as *;
@use "../_sass/syntax-highlighting" as *;

.highlight.shell, .highlight.language-shell {
  background: #222;
  color: #eee;
  border-radius: 5px;
  padding: 1em;
  font-family: "Fira Mono", "Consolas", "Menlo", monospace;
}
